<aside>
  <ul class="floor">
    <li>1F</li>
    <li>2F</li>
    <li>室外</li>
    <li>室外</li>
    <!-- <li *ngFor="let item of floorArray;let i=index" [class.active]="selected[i]" (click)="onClick(i)">{{item.name}}</li> -->
  </ul>
  <hr>
  <ul class="menu">
    <li>
      <i class="icon-calc"></i>
      <p>收銀作業</p>
    </li>
    <li>
      <i class="icon-doc-text"></i>
      <p>會計作業</p>
    </li>
    <li>
      <i class="icon-align-justify"></i>
      <p>設定</p>
    </li>
  </ul>
  <button class="power-btn"> <i class="icon-off"></i></button>
</aside>
<main>
  <p class="breadcrumb">
    <span>使用者名稱</span>
    <span>收銀作業</span>
    <i>></i>
    <span>桌面圖</span>
  </p>
  <div class="takeout">
    <p>外帶</p>
    <p><i></i></p>
    <p></p>
    <ul>
      <li><span>外帶100</span></li>
      <li><span>外帶100</span></li>
      <li><span>外帶100</span></li>
      <li><span>外帶100</span></li>
      <li><span>外帶100</span></li>
      <li><span>外帶100</span></li>
      <li><span>外帶100</span></li>
      <li><span>外帶100</span></li>
    </ul>
    <p>></p>
  </div>
  <div class="status">
    <div class="status-row">
      <div class="status-item">A12廳<div class="status-item-number"><p><span>A123</span><i></i></p></div></div>
      <div class="status-item">A12廳</div>
      <div class="status-item">A12廳</div>
      <div class="status-item">A12廳</div>
      <div class="status-item">A12廳</div>
      <div class="status-item">A12廳</div>
      <div class="status-item">A12廳</div>
    </div>
    <div class="status-row">
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
    </div>
    <div class="status-row">
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
    </div>
    <div class="status-row">
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
    </div>
    <div class="status-row">
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
      <div class="status-item"></div>
    </div>
   
  </div>
</main>
